.nav-bar{
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.logo{
    background-color: silver;
    padding: 5%;
}
.navigation{
    background-color: silver;
    padding: 5%;
}

.for-accesories{
    width: 50%;
    height: 15em;
    display: flex;
    flex-wrap: wrap; 
    margin-top: 2%;
    margin-left: 10%;
    
   
   
}
.foraccesories, .for-apparal, .for-shoes, .for-handbags, .for-jewelry{
width: 40%;
}
 

img{
    width: 80%;
}
.img-container{ 
    display: flex;
    flex-wrap: wrap;
}
.img-box{
    margin: 1%;
    padding: 1%;
    width: 20%;
    justify-content: flex-start;
}

#progress-bar{
    width: 90%;
    border-radius: 0%;
    height: 3em;
}

button{
    width: 25%;
    padding: 2%;
    background-color: silver;
    font-size: 1rem;
    margin-left: 75%;
}






